language: bash
dist: bionic
arch: 
  - amd64
  - arm64
  - s390x
  - ppc64le
services: 
  - docker
branches:
  only:
  - master
env:
  global:
  - DOCKER_USERNAME=yousiki
  - DOCKER_IMAGE=v2ray
script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin        
  - export IMAGE_NAME=$DOCKER_USERNAME/$DOCKER_IMAGE:$(uname -i)
  - docker build -t $IMAGE_NAME .
  - travis_wait 30 docker push $IMAGE_NAME
  - if [ $(uname -i) = "x86_64" ]; then
      export NEW_IMAGE_NAME=$DOCKER_USERNAME/$DOCKER_IMAGE:latest
      docker tag $IMAGE_NAME $NEW_IMAGE_NAME
      travis_wait 30 docker push $NEW_IMAGE_NAME
    fi